<a href="https://colab.research.google.com/github/Sumu28/Congestion-control/blob/main/customer_churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

sns.set(style="whitegrid")
pd.set_option('display.max_columns', None)

In [ ]:
df_churn=pd.read_excel("customer_churn.xlsx")

In [ ]:
df_churn.head()

,CustomerID,Name,Age,Gender,Location,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB,Churn
0,1,Customer_1,63,Male,Los Angeles,17,73.36,236,0
1,2,Customer_2,62,Female,New York,1,48.76,172,0
2,3,Customer_3,24,Female,Los Angeles,5,85.47,460,0
3,4,Customer_4,36,Female,Miami,3,97.94,297,1
4,5,Customer_5,46,Female,Miami,19,58.14,266,0

In [ ]:
print("Rows:",df_churn.shape[0])
print("Columns:",df_churn.shape[1])

Rows: 100000
Columns: 9

In [ ]:
df_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   CustomerID                  100000 non-null  int64
 1   Name                        100000 non-null  object
 2   Age                         100000 non-null  int64
 3   Gender                      100000 non-null  object
 4   Location                    100000 non-null  object
 5   Subscription_Length_Months  100000 non-null  int64
 6   Monthly_Bill                100000 non-null  float64
 7   Total_Usage_GB              100000 non-null  int64
 8   Churn                       100000 non-null  int64
dtypes: float64(1), int64(5), object(3)
memory usage: 6.9+ MB

In [ ]:
df_churn.isnull().sum()

CustomerID                    0
Name                          0
Age                           0
Gender                        0
Location                      0
Subscription_Length_Months    0
Monthly_Bill                  0
Total_Usage_GB                0
Churn                         0
dtype: int64

In [35]:
df_churn['Churn'].value_counts()

Churn
0    50221
1    49779
Name: count, dtype: int64

In [36]:
df_churn['Churn'].value_counts(normalize=True)

Churn
0    0.50221
1    0.49779
Name: proportion, dtype: float64

In [ ]:
for col in numer

# Distribution of Varibles by Churn

In [ ]:
for col in numerical_cols:
  plt.figure(figsize=(6,4))
  sns.kdeplot(df_churn[df_churn['Churn'] == 0][col], label = 'No Churn', fill = True)
  sns.kdeplot(df_churn[df_churn['Churn'] == 1][col], label = 'Churn',fill = True)
  plt.title(f"{col} Distribution by Churn")
  plt.legend()
  plt.show()

In [ ]:
for col in numerical_cols:
  plt.figure(figsize=(6,4))
  sns.boxplot(x='Churn', y=col, data = df_churn)
  plt.title(f"{col} Distrubution by Churn")
  plt.show()

# Target Variable Distribution

In [ ]:
plt.figure(figsize=(5,4))
sns.countplot(x='Churn', data = df_churn)
plt.title("Target Varible (Churn) Distribution")
plt.show()

In [ ]:
distribution_summary = df_churn[numerical_cols].agg(['mean','median','std','min','max','skew']).T
distribution_summary